/* global settings */
* {
    box-sizing: border-box;
    top: 0;
    left: 0;
}

/*global colors*/
h1, 
h2,
h3,
p {
    color:#e6af2e;
}

a {
    color: #14591d;
}


/* Styling for the page */

body {
    background-color: #191716;
    float: top;
}

h1 { 
    font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace; 
    font-size: 24px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px; 
} 

h2 { 
    font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace; 
    font-size: 18px; 
    font-style: normal;
    font-variant: normal; 
    font-weight: 700; 
    line-height: 22px; 
}

h3 { 
    font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace; 
    font-size: 14px; 
    font-style: normal;
    font-variant: normal; 
    font-weight: 700; 
    line-height: 15.4px; 
}
     
p { 
    font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace; 
    font-size: 14px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 20px; 
} 

a { 
    font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace; 
    font-size: 14px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 600; 
    line-height: 20px; 
} 
    
blockquote { 
    font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace; 
    font-size: 21px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 30px; 
} 

pre { 
    font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace; 
    font-size: 13px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 18.5714px; 
    }

img {
    width: 300px;

}

    .img-chamfer {
    position: relative;
    width: 300px;
    height: auto;
    clip-path: polygon(
        10px 0,                /* top-left corner → a bit in from left */
        calc(100% - 40px) 0,   /* top-right corner → a bit in from right */
        100% 40px,             /* right edge → 40px down */
        100% calc(100% - 10px),/* bottom-right → 10px up from bottom */
        calc(100% - 10px) 100%,/* bottom edge → a bit in from right */
        40px 100%,             /* bottom-left → a bit in from left */
        0 calc(100% - 40px),   /* left edge → 10px up from bottom */
        0 10px                 /* top-left → 10px down */
        );
    }



.img-chamfer img {
    width: 100%;
    height: auto;
    display: block;
    filter: drop-shadow(10px 10px 10px black);
}

.img-chamfer::before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    height: 4000;
    width: 4000;
    background-color: #e6af2e;
    z-index: 10;
}

/*
.img-chamfer::after {
  content: '';
  position: absolute;
  top: -4px;  /* tykkelsen på border */
  /*
  left: -4px;
  width: inherit;
  inset: 0;
  background: #e6af2e; /* border-farge */
  /*
  clip-path: polygon(
  /*      10px 0,                /* top-left corner → a bit in from left */
  /*      calc(100% - 40px) 0,   /* top-right corner → a bit in from right */
  /*      100% 40px,             /* right edge → 40px down */
  /*      100% calc(100% - 10px),/* bottom-right → 10px up from bottom */
  /*      calc(100% - 10px) 100%,/* bottom edge → a bit in from right */
  /*      40px 100%,             /* bottom-left → a bit in from left */
  /*      0 calc(100% - 40px),   /* left edge → 10px up from bottom */
  /*      0 10px                 /* top-left → 10px down */
  /*      );
  z-index: -1;
}
*/


.menubar,
.content {
    display: inline-block;
    vertical-align: top;
    height: auto;
}

.menubar {
    width: 240px;
    padding: 40px;
    margin-left: 10px;
    border:5px solid #e6af2e;
    position: relative;
    height: auto;
}

.content {
    width: calc(100vw - 295px);
    margin:0px 10px 0px 0;
    padding: 40px;
    /* border:5px solid #e6af2e; */
}

.current-menu {
    width:inherit;
    padding:80px 0;
    height: auto;
}

.menubar a {
    color:#e6af2e;
/*    background-color: black; */
    padding:2px 4px;
    white-space: nowrap;
}
.menubar a:hover {
  background-color: yellow;
}

.menubar p {
    padding-right:60px;
}

footer {
    background-color: black;
    height: auto;
    width: calc(100vw - 10px);
}

footer p {
    color:white;
    padding: 50px;
    text-align: center;

}
.footer-link {
    color:black;
    background-color: white;
}